/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none; }

/* Set core root defaults */
html {
  font-size: 16px; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

body {
  box-sizing: border-box;
  min-height: 100vh;
  background: linear-gradient(#b068e9, #6463e7);
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative; }

body {
  font-family: "Kumbh Sans", sans-serif; }

.card__title {
  color: #1e1f36;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center; }

.card__question {
  color: #4b4c5f;
  font-size: 0.813rem;
  line-height: 0.813rem;
  font-weight: 400; }

input:hover + .card__question {
  color: #f47b56; }

input:checked + .card__question {
  color: #1e1f36;
  font-weight: 700; }

.card__answer {
  color: #787887;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400; }

.card {
  width: 20.438rem;
  height: 33.438rem;
  margin: 9.25rem auto 0;
  border-radius: 23px;
  background-color: #fff;
  box-shadow: 0 3.125rem 3.125rem -1.25rem rgba(53, 18, 122, 0.497159); }
  .card::before {
    content: "";
    display: inline-block;
    width: 16.75rem;
    height: 13.25rem;
    background-image: url(../../img/illustration-woman-online-mobile.svg), url(../../img/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top 0 left 0, top 6.75rem left 1.75rem;
    position: relative;
    top: -6.75rem;
    left: 0.75rem; }
  .card__information {
    width: 17.438rem;
    margin: -5.2rem auto 0; }
  .card__title {
    margin-bottom: 2.375rem; }
  .card__segment {
    border-bottom: 1px solid #e8e8ea; }
    .card__segment:not(:last-child) {
      margin-bottom: 1rem; }
  .card__question {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.125rem; }
    .card__question::after {
      content: url(../../img/icon-arrow-down.svg); }
  .card__answer {
    display: none; }
  .card input[name="question"] {
    display: none; }
  input:checked + .card__question {
    padding-bottom: 0.75rem; }
  input:checked ~ .card__answer {
    display: block;
    padding-bottom: 1rem; }
  .card label {
    cursor: pointer; }
