$dark-blue: #1e1f36;
$orange: #f47b56;
$violet: #b068e9;
$blue: #6463e7;

$dark-gray: #4b4c5f;
$gray: #787887;
$light-gray: #e8e8ea;

$black: #000;
$white: #fff;

$timing: 0.4s;
$ease: cubic-bezier(0.865, 0.14, 0.095, 0.87);
