.card {
  width: 20.438rem;
  height: 33.438rem;
  margin: 9.25rem auto 0;
  border-radius: 23px;
  background-color: $white;
  box-shadow: 0 3.125rem 3.125rem -1.25rem rgba(53, 18, 122, 0.497159);
  position: relative;

  &__graphic {
    width: 15rem;
    margin: 0 auto;
  }

  &__box {
    display: none;
  }

  &__main {
    position: absolute;
    top: -6.724rem;
    left: 1rem;
  }

  &__shadow {
    // insert desktop view edits
  }

  &__information {
    width: 17.438rem;
    margin: 1.75rem auto 0;
  }

  &__title {
    margin-bottom: 2.375rem;
  }

  &__segment {
    width: 100%;
    border-bottom: 1px solid $light-gray;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.125rem;

    &::after {
      content: url(../../img/icon-arrow-down.svg);
    }
  }

  &__answer {
    display: none;
  }

  input[name="question"] {
    display: none;
  }

  input:checked + &__question {
    padding-bottom: 0.75rem;
  }

  input:checked ~ &__answer {
    display: block;
    padding-bottom: 1rem;
  }

  label {
    cursor: pointer;
    // transition: all $timing $ease; change this
  }
}
