.card {
  width: 20.438rem;
  height: 33.438rem;
  margin: 9.25rem auto 0;
  border-radius: 23px;
  background-color: $white;
  box-shadow: 0 3.125rem 3.125rem -1.25rem rgba(53, 18, 122, 0.497159);

  &::before {
    content: "";
    display: inline-block;
    width: 16.75rem;
    height: 13.25rem;
    background-image: url(../../img/illustration-woman-online-mobile.svg),
      url(../../img/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top 0 left 0, top 6.75rem left 1.75rem;
    position: relative;
    top: -6.75rem;
    left: 0.75rem;
  }

  &__information {
    width: 17.438rem;
    margin: -5.2rem auto 0;
  }

  &__title {
    margin-bottom: 2.375rem;
  }

  &__segment {
    border-bottom: 1px solid $light-gray;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.125rem;

    &::after {
      content: url(../../img/icon-arrow-down.svg);
    }
  }

  &__answer {
    display: none;
  }

  input[name="question"] {
    display: none;
  }

  input:checked + &__question {
    padding-bottom: 0.75rem;
  }

  input:checked ~ &__answer {
    display: block;
    padding-bottom: 1rem;
  }

  label {
    cursor: pointer;
    // transition: all $timing $ease; change this
  }
}
