body {
  font-family: "Kumbh Sans", sans-serif;
}

.card__title {
  color: $dark-blue;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
}

.card__question {
  color: $dark-gray;
  font-size: 0.813rem;
  line-height: 0.813rem;
  font-weight: 400;
}

input:hover + .card__question {
  color: $orange;
}

input:checked + .card__question {
  color: $dark-blue;
  font-weight: 700;
}

.card__answer {
  color: $gray;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
}
